In [1]:
import os
os.listdir()

['#1millionwomentotech #SummerOfCode Mentor Onboarding.html',
 '#1millionwomentotech #SummerOfCode Mentor Onboarding_files',
 '.ipynb_checkpoints',
 '1MWTT Mentor FAQ - Google Docs.html',
 '1MWTT Mentor FAQ - Google Docs_files',
 '220P II.xlsx',
 'aaua design - Shortcut.lnk',
 'ACME',
 'Anaconda Prompt.lnk',
 'comfirmation mail.html',
 'comfirmation mail_files',
 'Command Prompt.lnk',
 'Data Input and Output.ipynb',
 'desktop.ini',
 'Excel_Sample.xlsx',
 'film 2017',
 'lyric',
 'Microsoft Excel 2010.lnk',
 'Microsoft PowerPoint 2010.lnk',
 'Microsoft Word 2010.lnk',
 'notepad.png',
 'NumPy.ipynb',
 'PROJECT 2017',
 'project.lnk',
 'Python',
 'Python Crash Course Exercises .ipynb',
 'Python files',
 'python videos',
 'python.py',
 'Questions on Numpy.ipynb',
 'R studio programs',
 'ST. ALBERT CATHOLIC CHURCH UNIBEN_UBTH _ A Committed Christain Family.html',
 'ST. ALBERT CATHOLIC CHURCH UNIBEN_UBTH _ A Committed Christain Family_files',
 'TheInternet.jpg',
 'WampServer.lnk',
 'WhatsApp Documents - Shortcut.lnk',
 'WinRAR.lnk']

In [2]:
import pandas as pd

In [5]:
pd.read_csv('example')

    a   b   c   d    e
0   0   1   2   3  NaN
1   4   5   6   7  5.0
2   8   9  10  11  NaN
3  12  13  14  15  NaN

In [9]:
pd.read_excel('Excel_Sample.xlsx', sheet_name = 'Sheet1' )

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15